<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name></display-name>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>top.hittzj.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>top.hittzj.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyPsd</servlet-name>
		<servlet-class>top.hittzj.servlet.ModifyPsdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyUserInfo</servlet-name>
		<servlet-class>top.hittzj.servlet.ModifyUserInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCS</servlet-name>
		<servlet-class>top.hittzj.servlet.AddCSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCN</servlet-name>
		<servlet-class>top.hittzj.servlet.AddCNServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyCS</servlet-name>
		<servlet-class>top.hittzj.servlet.ModifyCSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyCN</servlet-name>
		<servlet-class>top.hittzj.servlet.ModifyCNServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowSingleCS</servlet-name>
		<servlet-class>top.hittzj.servlet.ShowSingleCSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowSingleCN</servlet-name>
		<servlet-class>top.hittzj.servlet.ShowSingleCNServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyCNForward</servlet-name>
		<servlet-class>top.hittzj.servlet.ModifyCNForwardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyCSForward</servlet-name>
		<servlet-class>top.hittzj.servlet.ModifyCSForwardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowCNsServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.ShowCNServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowCSsServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.ShowCSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowCNsByUserServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.ShowCNByUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowCSsByUserServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.ShowCSByUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleCSServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.DeleCSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleCNServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.DeleCNServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowCSByTypeServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.ShowCSByTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowCSByCollectorServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.ShowCSByCollectorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowCNByCollector</servlet-name>
		<servlet-class>top.hittzj.servlet.ShowCNByCollectorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCS2CollectionServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.AddCS2CollectionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCN2CollectionServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.AddCN2CollectionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RelieveCollectorCSServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.RelieveCollectorCSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RelieveCollectorCNServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.RelieveCollectorCNServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>top.hittzj.servlet.SearchServlet</servlet-class>
	</servlet>




	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyPsd</servlet-name>
		<url-pattern>/ModifyPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyUserInfo</servlet-name>
		<url-pattern>/ModifyUserInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCS</servlet-name>
		<url-pattern>/AddCS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCN</servlet-name>
		<url-pattern>/AddCN</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyCS</servlet-name>
		<url-pattern>/ModifyCS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyCN</servlet-name>
		<url-pattern>/ModifyCN</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowSingleCS</servlet-name>
		<url-pattern>/ShowSingleCS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowSingleCN</servlet-name>
		<url-pattern>/ShowSingleCN</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyCNForward</servlet-name>
		<url-pattern>/ModifyCNForward</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyCSForward</servlet-name>
		<url-pattern>/ModifyCSForward</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowCNsServlet</servlet-name>
		<url-pattern>/ShowCN</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowCSsServlet</servlet-name>
		<url-pattern>/ShowCS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowCNsByUserServlet</servlet-name>
		<url-pattern>/ShowCNByUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowCSsByUserServlet</servlet-name>
		<url-pattern>/ShowCSByUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleCSServlet</servlet-name>
		<url-pattern>/DeleCS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleCNServlet</servlet-name>
		<url-pattern>/DeleCN</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowCSByTypeServlet</servlet-name>
		<url-pattern>/ShowCSByType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowCSByCollectorServlet</servlet-name>
		<url-pattern>/ShowCSByCollector</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowCNByCollector</servlet-name>
		<url-pattern>/ShowCNByCollector</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCS2CollectionServlet</servlet-name>
		<url-pattern>/AddCS2Collection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCN2CollectionServlet</servlet-name>
		<url-pattern>/AddCN2Collection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RelieveCollectorCSServlet</servlet-name>
		<url-pattern>/RelieveCollectorCSServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RelieveCollectorCNServlet</servlet-name>
		<url-pattern>/RelieveCollectorCN</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>



	<!-- 配置Filter -->
	<filter>
		<filter-name>RegisterFilter</filter-name>
		<filter-class>top.hittzj.filter.LimitRegisterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RegisterFilter</filter-name>
		<url-pattern>/Register</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>top.hittzj.filter.EncodingSetFilter</filter-class>
		<init-param>
			<param-name>CharacterEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ContentType</param-name>
			<param-value>text/html;charset=UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>top.hittzj.filter.LimitLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/Login</url-pattern>
	</filter-mapping>


	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
		<error-page>
		<error-code>404</error-code>
		<location>/500.jsp</location>
	</error-page>







</web-app>