<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 数据库连接设置  上线时需要更改 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 
		<property name="hibernate.connection.url">jdbc:mysql://115.28.156.73:3306/hittzj</property>
		<property name="hibernate.connection.username">86sXl3vA</property>
		<property name="hibernate.connection.password">e20yEIOd6Ugl</property>
		 -->
		 <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hittzj</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- 数据库语句翻译包 -->
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 其他设置-->
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="show_sql">false</property>
		
		
		<!--****************** 【连接池配置】****************** -->
		<!-- 配置连接驱动管理类 -->
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<!-- 配置c3p0参数信息 -->
		<property name="hibernate.c3p0.min_size">6</property>
		<property name="hibernate.c3p0.max_size">12</property>
		<property name="hibernate.c3p0.timeout">5000</property>
		<property name="hibernate.c3p0.max_statements">10</property>
		<property name="hibernate.c3p0.idle_test_period">30000</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		
		<!-- 配置二级缓存 -->
		
		<!-- 导入关联映射（类路径） -->
		<mapping resource="top/hittzj/entity/User.hbm.xml"/>
		<mapping resource="top/hittzj/entity/Commodity_Type.hbm.xml"/>
		<mapping resource="top/hittzj/entity/Commodity_Sell.hbm.xml"/>	
		<mapping resource="top/hittzj/entity/Commodity_Need.hbm.xml"/>	
		<mapping resource="top/hittzj/entity/Question.hbm.xml"/>
	</session-factory>
</hibernate-configuration>